<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @bookings.each do |booking| %>
      <div>
        <% kondo = Kondo.find(booking.kondo_id) %>
        <h4><%= link_to kondo.name, kondo_path(kondo) %></h4>
        <h5><%= booking.booked_date %></h5>
      </div>
      <% end %>
    </div>
  </div>
</div>
