<nav class="navbar navbar-light bg-transparent justify-content-between px-4">
  <%= link_to root_path, class:"navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/djlvhfuba/image/upload/v1643111463/development/kondo-logo.png", class:"img-fluid", style: "width: 100px;" %>
  <% end %>
  <div id="open-nav">
    <% unless current_user.nil? %>
     <%= cl_image_tag current_user.user_photo, style:"border: 2px solid rgba(0,0,0,0.6);" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/djlvhfuba/image/upload/v1643138540/development/user_icon_hqeugo.png", style: "opacity: 0.6" %>
    <% end %>
  </div>
</nav>
