<div id="mySidenav" class="sidenav">
  <a class="closebtn">&times;</a>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
</div>

<!-- Use any element to open the sidenav -->
<span id="open-nav">open</span>
