#card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    height: 372px;
    max-width: 280px;
    padding: 24px;
    margin: 8px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.466);
    text-align: center;
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    p{
        font-size: 14px;
    }
    #card-footer{
        bottom: 0;
        display: flex;
        position: absolute;
        justify-content: space-between;
        padding-bottom: 8px;
        width: 80%;

        h6{
            color: $kondo;
        }

        a{
            text-decoration: none;
        }
    }
}
