#booking-index-nav {

    a{
        color:rgba(0, 0, 0, 0.514);
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    a:hover {
        color:rgba(0, 0, 0, 0.815);
        border-bottom: 1px solid rgba(0, 0, 0, 0.815);
    }
}