#notification{
    border: 1px solid white;
    height: 18px;
    background: red;
    color: white;
    width: 18px;
    font-size: 0.8em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 8%;
}