// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global Settings
.container {
  margin: 32px auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover, a:focus, a:active {
  color: $kondo;
  text-decoration: none;
  display: inline-block;
}
