<div class="container">
  <div class="row">
    <% @kondos.each do |kondo| %>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <%= render "components/card", 
          name:  kondo.user.first_name,
          price: kondo.price,
          summary: kondo.summary.split(" ").first(10).join(" "),
          kondo: kondo.name,
          prefecture: kondo.prefecture,
          path: kondo_path(kondo)
        %> 
        </div>
    <% end %>
  </div>
</div>
