<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h4>Create your Kondo</h4>
        <%= render "form", kondo: @kondo %>
    </div>
  </div>
</div>